.footer-section {
    background-color: #1E1823;
    padding: 32px 0;

    @media screen and (min-width: 768px) {
        padding-bottom: 50px;
        padding-top: 50px;
    }
}

.footer-section .container {
    display: flex;
    flex-wrap: wrap;
}

.footer-section__div {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;

    @media screen and (min-width: 768px) {
        flex-wrap: nowrap;
        display: flex;
    }
}

.footer-section__main-title {
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    max-width: 300px;
    width: 100%;

    font-size: 24px;

    @media screen and (min-width: 768px) {
        margin-right: auto;
        font-size: 28px;
        line-height: 1.21;
    }
}

.footer-section__oreng {
    color: #FD9222;
}

.footer-section__contact-list {
    display: block;
    gap: 4px;
    padding: 0;

    @media screen and (min-width: 768px) {
        margin-right: 50px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 63px;
    }
}

.footer-section__contact-titel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.footer-section__contact-span {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    text-align: left;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.footer-section__social-list {
    display: flex;
    gap: 18px;
    margin-left: auto;
}

.footer-section__icon {
    width: 24px;
    height: 24px;
    stroke: #FFFFFF;
    transition: stroke 500ms linear 250ms, transform 500ms linear 250ms;
}

.footer-section__icon:hover {
    stroke: #FD9222;
    transform: scale(1.1);
}

.footer-section__how-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 32px;
    padding: 0;

    @media screen and (min-width: 768px) {
        gap: 24px;
        flex-direction: row;
    }
}

.footer-section__how-span {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.footer-section__contact-div {
    display: flex;
    justify-content: left;
    margin-top: 32px;
    padding-bottom: 32px;
    width: 100%;

    @media screen and (min-width: 768px) {
        margin-top: 0;
        max-width: 280px;
    }
}