header {
    width: 100%;
   padding-top: 24px;
   padding-bottom: 24px;

}

.header-main-div {
    display: flex;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: #111111;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 4px;
    
}

.header__icon {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    stroke: #FD9222;
}


.header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-left: 188px;
    margin-right: 137px;

    @media screen and (min-width: 375px) {
        display: none;  
        }  
    
        @media screen and (min-width: 768px) {
        display: none;
        }  
}

.header-list__link {
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: -0.02em;
color: #111111;
text-decoration: none;
}

.header-list__link:hover {
    color: #FD9222;
}

.header-lis-icon {
    display: flex;
    max-width: 60px;
    gap: 20px;
    margin-left: 137px;
}

.burger {
    display: none;
    width: 24px;
    height: 16px;
}

.header-lis-icon__instagram{
    width: 24px;
    height: 24px;
    fill: #ffffff;
    stroke: #000000;

}

.header-lis-icon__twitter{
    width: 24px;
    height: 24px;
    fill: #ffffff;
    stroke: #000000;

}

.header-lis-icon__instagram:hover{
    stroke: #FD9222;

}

.header-lis-icon__twitter:hover {
    stroke: #FD9222;
}