// vf

.hero-section .container {
  background-image: url(../images/dekstop@1x/chocolate-hero-dekstop@1x.webp);
  background-position: center;
  background-size: cover;
  padding-top: 381px;
  padding-left: 40px;
  padding-bottom: 40px;
  border-radius: 30px;
  background-color: #FCF1E0;

  @media screen and (min-width: 768px) {
    padding-top: 671px;
  padding-left: 20px;
  padding-bottom: 20px;
  }
}

.hero-section__block {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.hero-section__text {
  font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.03em;
  color: #ffffff;
  flex: none;
  order: 0;
  max-width: 484px;
  flex-grow: 0;

  @media screen and (min-width: 768px) {
    font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.03em;
  }
}

.hero-section__button-block {
  display: block;
  margin-top: 32px;
  @media screen and (min-width: 375px) {
    display: flex;
  }
}

.hero-section__button-1 {
  background-color: #fd9222;
  border-radius: 100px;
  display: block;
  align-items: flex-start;
  padding: 14px 40px;
  gap: 14px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-right: 14px;
  transition: background-color 500ms linear 250ms, color 500ms linear 250ms;
  @media screen and (min-width: 375px) {
    display: flex;
  }
}

.hero-section__button-2 {
  background: transparent;
  display: flex;
  align-items: flex-start;
  padding: 12px 28px;
  gap: 14px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-top: 12px;
  transition: border 500ms linear 250ms, color 500ms linear 250ms;

  @media screen and (min-width: 375px) {
    margin-top: 0;
  }

  @media screen and (min-width: 768px) {
    padding: 14px 40px;
  }
}

.hero-section__button-2:hover{
  border: 1px solid #FD9222;
  color: #FD9222;
}

.hero-section__button-1:hover{
  color: #FD9222;
  background: #FCF1E0;
}

.hero-section__scroll {
  display: flex;
  justify-self: center;
  align-items: center;
  padding-top: 32px;
  @media screen and (min-width: 1200px) {
    padding-top: 141px;
    margin-left: 442px;
  }
}

.hero-section__span {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-right: 14px;
}

.hero-section__scroll-icon {
  fill: #fd9222;
}

.scrol-button{
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  width: 38px;
  height: 38px;
  justify-content: center;
  align-items: center;
  display: flex;
}