.information {
    width: 100%;
    background: $background-color;
    padding-top: 20px;
    padding-bottom: 20px;

    @media screen and (min-width: 768px) {
        padding-top: 50px;
        padding-bottom: 50px;
    
        }  
}

.information__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    @media screen and (min-width: 768px) {
    gap: 32px; 
    flex-wrap: wrap;  
    }  

    @media screen and (min-width: 1200px) {
    gap: 70px;
    flex-wrap: nowrap;
    }  
}

.information__item{
    height: 244px;
}

.information__icon {
    width: 32px;
    height: 32px;
    fill: $main-color;
}


.information__circle {
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    margin-bottom: 22px;
}

.information__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: $text-color;
    margin-bottom: 18px;
}

.information__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: #ffffffb3;
    max-width: 308px;
}