.ingredients-section {
  padding-top: 72px;
  @media screen and (min-width: 768px) {
    padding-top: 100px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 128px;
  }
}

.ingredients-section img {
  margin-bottom: 25px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 36px;
  }
}

.ingredients-section__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
  max-width: 411px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
  }
}

.ingredients-section__span {
  color: #fd9222;
}

.ingredients-section__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #111111;
  max-width: 486px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ingredients-section__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  margin-top: 32px;
  justify-content: center;
  padding: 0;
  @media screen and (min-width: 768px) {
    margin-top: 50px;
    gap: 32px;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 19px;
  }
}

.ingredients-section__item {
  border-radius: 15px;
  width: 335px;
  height: 270px;
  padding-top: 28px;
  padding-left: 55px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  transition: border 250ms linear 250ms, background-color 250ms linear 250ms;
  @media screen and (min-width: 768px) {
    width: 336px;
  padding-left: 56px;
  }
  @media screen and (min-width: 1200px) {
    height: 270px;
    width: 270px;
  padding-left: 28px;
  }
}

.ingredients-section__item:hover {
  border: none;
  background-color: transparent;
}

.ingredients-section__item:hover .ingredients-section__info-hover {
  transform: translate(0%, 0%);
  opacity: 1;
}

.ingredients-section__item-span {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  display: block;
}

.ingredients-section__info-hover {
  transform: translate(0%, 100%);
  opacity: 0;
  background-color: #ffffff;
  border-radius: 15px;
  padding-top: 28px;
  padding-left: 28px;
  padding-right: 28px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  transition: transform 250ms linear 250ms, opacity 250ms linear 250ms;
}

::-webkit-scrollbar {
  width: 0;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
}

.ingredients-section__hover-title {
  font-weight: 600;

  font-size: 18px;
  line-height: 22px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
}

.ingredients-section__button-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: #fd9222;
  border-radius: 35px;
  border: none;
  padding: 6px 16px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-right: 6px;
}

.ingredients-section__button-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  gap: 4px;
  background-color: #fafafa;
  border: 1px solid #fd9222;
  border-radius: 35px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
}

.ingredients-section__hover-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #111111;
}

.flex-div {
  display: flex;
  margin-bottom: 14px;
  margin-top: 8px;
}

.oreng {
  background-color: #fd9222;
}

.white {
  background-color: #ffffff;
  border: 1px solid #fd9222;
  box-sizing: border-box;
}

.black {
  background-color: #1e1823;
}

.black-text {
  color: #111111;
}

.white-text {
  color: #ffffff;
}

.chocolate {
  padding: 6px 16px;
}
