.modal {
    width: 290px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: #1f1924;
    
        @media screen and (min-width: 1200px) {
        display: none;
        }  

    a {
        color: #ffffff;
        font-size: 1rem;
        transition: color 0.3s;

        &:hover {
            color: #fd9221;
        }
    }
}

.close {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 33.33px;
    right: 41.33px;
    cursor: pointer;
}

.modal-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
    position: absolute;
    bottom: 26px;
    left: 36px;

    svg {
        width: 22px;
        height: 17.94px;
    }
}