.product__main-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 50px;
  }
  
  .product__main-span {
    color: #fd9222;
  }
  
  .product {
    padding-top: 128px;
  }
  
  .wight-img {
    width: 230px;
    height: 201px;
  }
  
  .product__info-text {
    text-align: center;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .center-img {
    margin-left: auto;
    margin-right: auto;
  }
  
  .product__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111111;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .product__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
    margin-bottom: 18px;
    margin-top: 2px;
  }
  
  .product__button {
    display: flex;
    gap: 14px;
    background-color: #fafafa;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    width: 95px;
    height: 33px;
    font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #111111;
align-items: center;
justify-content: center;
margin-left: auto;
margin-right: auto;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: auto;
    margin-top: 20px;
}

.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
}

.swiper-pagination-bullet-active {
    transition: background-color 1250ms var(--transition-type);
    transition: width 250ms var(--transition-type);
}
.swiper-pagination-bullet-active {
    background: #fd9222;
    width: 28px;
    height: 13px;
    border-radius: 25px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    margin-top: 32px;
}

.container-swiper{
  width: auto;
}

.swiper-slide{
  width: 300px;
}

.product-item{
  padding: 32px 20px;
  width: 270px;
display: flex;
flex-direction: column;
text-align: center;
background: #FFFFFF;
border: 1px solid rgba(17, 17, 17, 0.1);
border-radius: 15px;
}