.product-section__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 128px;
  }
  
  .product-section__span {
    color: #fd9222;
  }
  
  .product-section {
    margin-top: 128px;
  }
  
  .wight-img {
    width: 230px;
    height: 201px;
  }
  
  .product-section__info-text {
    text-align: center;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .center-img {
    margin-left: auto;
    margin-right: auto;
  }
  
  .product-section__product-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111111;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .product-section__product-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .product-section__product-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 20px;
    gap: 14px;
    position: absolute;
    width: 94px;
    height: 33px;
    left: 88px;
    top: 299px;
    background-color: #fafafa;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    margin-top: 32px;
  }
  .products {
    padding: 100px 0;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: auto;
  margin-top: 20px;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}

.swiper-pagination-bullet-active {
  transition: background-color 1250ms var(--transition-type);
  transition: width 250ms var(--transition-type);
}
.swiper-pagination-bullet-active {
  background-color: #fd9222;
  width: 28px;
  height: 13px;
  border-radius: 25px;
}

.swiper-container{
  width: auto;
}

.swiper-slide{
  width: 300px;
}