.shop__title{
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
text-align: center;
letter-spacing: -0.03em;
text-transform: uppercase;
color:$main-color;
margin-top: 128px;
margin-bottom: 50px;
}

.shop__title-color{
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
text-align: center;
letter-spacing: -0.03em;
text-transform: uppercase;
color:  $description-color;
}

.shop__list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop__item{
    margin-right: 16px;
 }
 
 .shop__item:last-child{
     margin-right: 0;
  }

  .shop__image{
    width: 368px;
    height: 464px;
    border-radius: 15px;
    }
    
    .shop__componets{
        display: flex;
        margin-top: 32px;
    }

    .shop__text{
        width: 407px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.02em;
        color: $description-color;
        }
        
        .shop__btn{
        flex-direction: row;
        align-items: flex-start;
        padding: 14px 40px;
        gap: 14px;
        width: 162px;
        height: 50px;
        background: $main-color;
        border-radius: 100px;
        border: none;
        
        }