.subscibe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/dekstop@1x/subcribe-dekstop@1x.webp);
  width: 100vw;
  height: 370px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 30px;
  color: $text-color;
  gap: 2rem;

  p {
    text-align: center;

    &:first-child {
      text-align: center;
    }

    &:nth-child(2) {
      max-width: 470px;
    }
  }

  button {
    width: 172px;
    height: 50px;
    border: 0;
    border-radius: 25px;
    color: #ffffff;
    transition: 0.3s;
    background-color: $main-color;

    &:hover {
      color: $main-color;
      background-color: $main-background-color;
    }
  }

  @media screen and (min-width: 365px) {
    background-image: url(../images/mobile@1x/subcribe-mobile@1x.webp);
    text-align: center;
    }  

    @media screen and (min-width: 768px) {
        background-image: url(../images/tablet@1x/subcribe-tablet@1x.webp);
        text-align: center;
    }  
}
