.work .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin: 128px 0;
}

.work__title {
    font-size: 2rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: $description-color;
    margin-top: 128px;
}

.work__title-color {
    color:$main-color ;
}

.work__card {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 20px; 
}

.work__image {
    width: 335px;
    height: 500px; 
    border-radius: 15px;
@media screen and (min-width: 768px) {
    width: 600px;
    height: 400px;
    }  
}

.work__discription{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

// .work__discription{

//     @media screen and (min-width: 375px) {
//         margin-left: auto;
//         margin-right: auto;
//         }  
    
//         @media screen and (min-width: 768px) {
//             margin-left: auto;
//             margin-right: auto;
//         }  
// }

.work__title-text {
    max-width: 516px;
    max-height: 400px;
    font-weight: 800;
    margin: 0 32px 24px 0;

    // @media screen and (min-width: 375px) {
    //      margin-left: auto;
    //     }  
    
    //     @media screen and (min-width: 768px) {
    //         margin-left: auto;
    //     } 
}


.work__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.work__item {
    list-style-type: disc;
    
    @media screen and (min-width: 375px) {
        margin-left: auto;
       }  
   
       @media screen and (min-width: 768px) {
           margin-left: auto;
       } 
}

.work__text{
    max-width: 425px;
}

.work__info-div {
    padding-left: 32px;
    padding-top: 32px;
    width: 516px;
    background-color: #FFFFFF;
border-radius: 15px;
display: block;
}

.work__info-title {
    max-width: 350px;
    font-weight: 600;
font-size: 18px;
line-height: 24px;
color: #111111;
margin-bottom: 28px;
margin-right: auto;
display: block;
}

.work__info-list {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.work__info-text {
    max-width: 425px;
    font-weight: 400;
font-size: 14px;
line-height: 18px;
letter-spacing: -0.02em;
color: #111111;
}

.work__div-text{

}