<section class="footer-section">
    <div class="container">
        <div class="footer-section__div">
            <h2 class="footer-section__main-title">
                <span class="footer-section__oreng">
                    Chocolate
                </span>
                a delicious <br> cure for a bad day
            </h2>
            <div class="footer-section__contact-div">
                <ul class="footer-section__contact-list">
                    <h2 class="footer-section__contact-titel">Contact us</h2>
                    <li class="footer-section__contact-item">
                        <span class="footer-section__contact-span">
                            +380 (68) 443-94-26
                        </span>
                    </li>
                    <li class="footer-section__contact-item">
                        <span class="footer-section__contact-span">
                            simplychoc@gmail.com
                        </span>
                    </li>
                </ul>
                <ul class="footer-section__social-list">
                    <li class="footer-section__social-item">
                        <svg class="footer-section__icon">
                            <use href="./images/symbol-defs.svg#icon-instagram-icon"></use>


                        </svg>
                    </li>
                    <li class="footer-section__social-item">
                        <svg class="footer-section__icon">
                            <use href="./images/symbol-defs.svg#icon-twitter-icon"></use>


                        </svg>
                    </li>
                </ul>
            </div>

        </div>
        <ul class="footer-section__how-list">
            <li class="footer-section__how-item">
                <span class="footer-section__how-span">
                    Home
                </span>
            </li>
            <li class="footer-section__how-item">
                <span class="footer-section__how-span">
                    How it’s made?
                </span>
            </li>
            <li class="footer-section__how-item">
                <span class="footer-section__how-span">
                    Our products
                </span>
            </li>
            <li class="footer-section__how-item">
                <span class="footer-section__how-span">
                    Top sellers
                </span>
            </li>
            <li class="footer-section__how-item">
                <span class="footer-section__how-span">
                    Chocolate is loved
                </span>
            </li>
        </ul>
    </div>

</section>