<!-- <section class="foter">
    <h2>
        <span>
            Chocolate
        </span>
        a delicious cure for a bad day
    </h2>
    <ul>
        Contact us
        <li>
            <span>
                +380 (68) 443-94-26
            </span>
        </li>
        <li>
            <span>
                simplychoc@gmail.com
            </span>
        </li>
    </ul>
    <ul>
        <li>
            <svg>
                <use href="./images/symbol-defs.svg#icon-instagram-icon">

                </use>
            </svg>
        </li>
        <li>
            <svg>
                <use href="./images/symbol-defs.svg#icon-twitter-icon">

                </use>
            </svg>
        </li>
    </ul>
    <ul>
        <li>
            <span>
                Home
            </span>
        </li>
        <li>
            <span>
                How it’s made?
            </span>
        </li>
        <li>
            <span>
                Our products
            </span>
        </li>
        <li>
            <span>
                Top sellers
            </span>
        </li>
        <li>
            <span>
                Chocolate is loved
            </span>
        </li>
    </ul>
</section> -->