<header id="header">
    <div class="container">
   <div class="header-main-div">
     <a data-aos-duration="1000" data-aos="fade-down" class="header__logo">SIMPLY CHOCOLATE</a>
    
     <svg data-aos-duration="1000" data-aos="fade-down" class="header__icon">
        <use href="./images/symbol-defs.svg#icon-logo-icon">
        </use>
     </svg>
    
    <ul data-aos-duration="1000" data-aos="fade-up" class="header-list">
      <li class="header-list__item">
       <a href="#footer" class="header-list__link">Home</a>
      </li>
    
      <li class="header-list__item">
        <a href="#work" class="header-list__link">How it’s made?</a>
       </li>
    
       <li class="header-list__item">
        <a href="#product" class="header-list__link">Our products</a>
       </li>
    
       <li class="header-list__item">
        <a href="#shop" class="header-list__link">Top sellers</a>
       </li>
    
       <li class="header-list__item">
        <a href="#workers" class="header-list__link">Chocolate is loved</a>
       </li>
    </ul>
    
    <ul data-aos-duration="1000" data-aos="fade-left" class="header-lis-icon">
        <li class="header-lis-icon__item">
            <svg  class="header-lis-icon__instagram">
                <use href="./images/symbol-defs.svg#icon-instagram-icon">
                </use>
             </svg>
        </li>
      
        <li class="header-lis-icon__item">
            <svg  class="header-lis-icon__twitter">
                <use href="./images/symbol-defs.svg#icon-twitter-icon">
                </use>
             </svg>
         </li>
      </ul>
      <button class="header__open-button" type="button" data-open-modal3>
        <svg  class="header__open-icon">
          <use href="./images/symbol-defs.svg#icon-menu-icon">
          </use>
       </svg>
      </button>
    </div>
    </div>
</header>
