<section class="hero-section">
    <div class="hero-section__info-block">
      <p class="hero-section__text">

      </p>
      <button class="hero-section__button-1">

      </button>
      <button class="hero-section__button-2">

      </button>
    </div>
    <div class="hero-section__scroll">
      <span class="hero-section__span">

      </span>
      <button class="hero-section__scroll-button">
          <svg class="hero-section__scroll-icon">
              <use>
                  
              </use>
          </svg>
      </button>
    </div>
  </section>