<section class="hero-section">
  <div class="container">
    <div class="hero-section__block">
      <div class="hero-section__info-block">
        <p class="hero-section__text">
          Treat yourself or a loved one to our finest ingredients for a moment
          of pure delight!
        </p>
        <div class="hero-section__button-block">
          <button class="hero-section__button-1">Buy now</button>
          <button class="hero-section__button-2">How it’s made</button>
        </div>
      </div>
      <div class="hero-section__scroll">
        <span class="hero-section__span"> scroll down </span>
        <button
          class="hero-section__scroll-button"
          onclick="scrollTo({top: window.innerHeight, behavior: 'smooth'})"
        >
          <svg width="22" height="22" class="hero-section__scroll-icon">
            <use href="images/symbol-defs.svg#icon-scroll-icon"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
