<!-- fg -->
<section class="hero-section">
  <div class="container">
    <div class="hero-section__block">
      <div class="hero-section__info-block">
        <p data-aos-duration="1000" data-aos="fade-right" class="hero-section__text">
          Treat yourself or a loved one to our finest ingredients for a moment
          of pure delight!
        </p>
        <div data-aos="fade-down" class="hero-section__button-block"> 
            <button data-aos-duration="1000" class="hero-section__button-2">
                Buy now
          </button>
          

  <button data-aos-duration="1000" class="hero-section__button-1">
            How it’s made
          </button>

          

        </div>
      </div>
      <div data-aos-duration="1000" data-aos="fade-down" class="hero-section__scroll">

        <span class="hero-section__span"> scroll down </span>
        <a class="scrol-button" href="#footer">
          <svg class="hero-section__scroll-icon" width="22" height="22">
            <use href="images/symbol-defs.svg#icon-scroll-icon"></use>
          </svg>
        </a>


      </div>
    </div>
  </div>
</section>