<section class="information">
    <div class="container">
        <ul class="information__list">
            <li class="information__item">
                <div class="information__circle">
                    <svg class="information__icon">
                        <use href="./images/symbol-defs.svg#icon-product-icon"></use>
                    </svg>
                </div>
                <h3 class="information__title">Unsurpassed taste</h3>
                <p class="information__description">
                    Crafted with the finest quality cocoa beans and a dedication
                    to perfection, each bite is a decadent experience that
                    simply cannot be matched. Savor the richness and complexity
                    of our Unsurpassed Taste and discover a new level of
                    chocolate bliss.
                </p>
            </li>
            <li class="information__item">
                <div class="information__circle">
                    <svg  class="information__icon">
                        <use href="./images/symbol-defs.svg#icon-coin-icon"></use>
                    </svg>
                </div>
                <h3 class="information__title">Affordable price</h3>
                <p class="information__description">
                    Indulge in high-quality chocolate without breaking the bank
                    with Simply Chocolate's selection of affordable treats.
                    Enjoy mouth-watering truffles and velvety chocolate bars
                    without sacrificing taste or quality. Browse our selection
                    and indulge in affordable luxury today.
                </p>
            </li>
            <li class="information__item">
                <div class="information__circle">
                    <svg  class="information__icon">
                        <use href="./images/symbol-defs.svg#icon-info-icon"></use>
                    </svg>
                </div>
                <h3 class="information__title">Own production</h3>
                <p class="information__description">
                    We take pride in our own production process, ensuring that
                    every step is carefully crafted to perfection. From
                    selecting the finest ingredients to handcrafting each piece,
                    our attention to detail is evident in every bite.
                </p>
            </li>
        </ul>
    </div>
</section>
