<section class="ingredients-section">
    <div class="container">
        <div class="ingredients-section__info-div">
            <h2 class="ingredients-section__title">
                IT ALL ADDS UP TO ONE EXCEPTIONAL
                <span class="ingredients-section__span">
                    TASTE
                </span>
                SENSATION
            </h2>
            <p class="ingredients-section__text">
                At Simply Chocolate, we believe that the secret to
                exceptional chocolate is in the details.
                From the sourcing of the finest ingredients to
                the careful crafting of each individual piece,
                every step of our process adds up to one exceptional
                taste sensation.
            </p>
        </div>
        <ul class="ingredients-section__list">
            <li class="ingredients-section__item oreng">
                <span class="ingredients-section__item-span white-text">mILK CHOCOLATE</span>
                <div class="ingredients-section__info-hover">
                    <h2 class="ingredients-section__hover-title">
                        Milk chocolate
                    </h2>
                    <button class="ingredients-section__button-1">
                        chocolate
                    </button>
                    <button class="ingredients-section__button-2">
                        the benefits
                    </button>
                    <p class="ingredients-section__hover-text">
                        Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk.
                        It is the most consumed type of chocolate.
                        Chocolate was originally sold and consumed as a beverage in pre-Columbian times.
                    </p>
                </div>
            </li>
            <li class="ingredients-section__item white">
                <span class="ingredients-section__item-span black-text">Milk</span>
                <div class="ingredients-section__info-hover">
                    <h2 class="ingredients-section__hover-title">
                        Milk
                    </h2>
                    <button class="ingredients-section__button-1">
                        chocolate
                    </button>
                    <button class="ingredients-section__button-2">
                        the benefits
                    </button>
                    <p class="ingredients-section__hover-text">
                        Milk is a white liquid food produced by the mammary glands of mammals.
                        It is the primary source of nutrition for young mammals
                        (including breastfed human infants) before they are able to digest solid food.Early-lactation milk,
                    </p>
                </div>
            </li>
            <li class="ingredients-section__item black">
                <span class="ingredients-section__item-span white-text">nuts</span>
                <div class="ingredients-section__info-hover">
                    <h2 class="ingredients-section__hover-title">
                        Nuts
                    </h2>
                    <button class="ingredients-section__button-1">
                        chocolate
                    </button>
                    <button class="ingredients-section__button-2">
                        the benefits
                    </button>
                    <p class="ingredients-section__hover-text">
                        Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients.
                         When eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits such
                          as reducing your risk of heart disease. They’re a good source
                    </p>
                </div>
            </li>
            <li class="ingredients-section__item white">
                <span class="ingredients-section__item-span black-text">sEMI - SWEET CHOCOLATE</span>
                <div class="ingredients-section__info-hover">
                    <h2 class="ingredients-section__hover-title">
                        Milk chocolate
                    </h2>
                    <button class="ingredients-section__button-1">
                        chocolate
                    </button>
                    <button class="ingredients-section__button-2">
                        the benefits
                    </button>
                    <p class="ingredients-section__hover-text">
                        Semi-sweet chocolate has a cocoa solid content of 35 to 65%.
                        One of the best ways to gain an understanding of this type of chocolate is
                        to compare it to a different type of chocolate. Semisweet is darker 
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>