<div class="backdrop-3 is-hidden3" data-backdrop3>
    <div class="header-modal">
  <button class="header-modal__button" type="button" data-close-modal3>
    <svg class="header-modal__close-icon">
      <use href="./images/symbol-defs.svg#icon-close-icon"></use>
    </svg>
  </button>
  <ul class="header-modal-list">
    <li class="header-modal__item">
      <span class="header-modal__span home">Home</span>
    </li>
    <li class="header-modal__item">
      <span class="header-modal__span">How it’s made?</span>
    </li>
    <li class="header-modal__item">
      <span class="header-modal__span">Our products</span>
    </li>
    <li class="header-modal__item">
      <span class="header-modal__span">Top sellers</span>
    </li>
    <li class="header-modal__item">
      <span class="header-modal__span">Chocolate is loved</span>
    </li>
  </ul>
  <ul class="header-modal__social-list">
    <li class="header-modal__social-item">
      <svg class="header-modal__icon">
        <use href="./images/symbol-defs.svg#icon-instagram-icon"></use>
      </svg>
    </li>
    <li class="header-modal__social-item">
      <svg class="header-modal__icon">
        <use href="./images/symbol-defs.svg#icon-twitter-icon"></use>
      </svg>
    </li>
  </ul>
</div>
</div>
