<div class="modal"  data-backdrop3>
    <button class="close-btn" data-close-modal3>
    <svg class="close">
        <use href="./images/symbol-defs.svg#icon-close-icon"></use>
    </svg>
</button>
    <a href="#" class="orange">Home</a>
    <a href="#">How it's made?</a>
    <a href="#">Our Products</a>
    <a href="#">Top sellers</a>
    <a href="#">Chocolate is loved</a>
    <div class="modal-socials">
        <svg>
            <use href="./images/symbol-defs.svg#icon-instagram-icon"></use>
        </svg>
        <svg>
            <use href="./images/symbol-defs.svg#icon-twitter-icon"></use>
        </svg>
    </div>
</div>