<section class="product-section">
  <h2 class="product-section__title">
    Our
    <span class="product-section__span">
      pRODUCTS
    </span>
  </h2>
  <div class="carousel carousel-dark slide" id="carouselExampleDark">
    <div class="carousel-indicators">
      <button class="active" data-bs-slide-to="0" data-bs-target="#carouselExampleDark" type="button" aria-current="true" aria-label="Slide 1"></button>
      <button data-bs-slide-to="1" data-bs-target="#carouselExampleDark" type="button" class="slider" aria-label="Slide 2"></button>
      <button data-bs-slide-to="2" data-bs-target="#carouselExampleDark" type="button" class="slider" aria-label="Slide 3"></button>
      <button data-bs-slide-to="3" data-bs-target="#carouselExampleDark" type="button" class="slider" aria-label="Slide 4"></button>
      <button data-bs-slide-to="4" data-bs-target="#carouselExampleDark" type="button" class="slider" aria-label="Slide 5"></button>
      <button data-bs-slide-to="5" data-bs-target="#carouselExampleDark" type="button" class="slider" aria-label="Slide 6"></button>
      <button data-bs-slide-to="6" data-bs-target="#carouselExampleDark" type="button" class="slider" aria-label="Slide 7"></button>
      <button data-bs-slide-to="7" data-bs-target="#carouselExampleDark" type="button" class="slider" aria-label="Slide 8"></button>
    </div>
    <div class="carousel-inner" id="flex-sloider">
      <div class="carousel-item active center-item" data-bs-interval="10000">
        <img class="d-block wight-img center-img" src="./images/dekstop@1x/chocolete-1-dekstop@1x.webp" alt="chocolate-1">
        <div class="product-section__info-text d-none d-md-block">
          <h5 class="product-section__product-title">orange</h5>
          <p class="product-section__product-text">Dark chocolate</p>
          <button class="product-section__product-button">45 UAH</button>
        </div>
      </div>
      <div class="carousel-item active center-item" data-bs-interval="10000">
        <img class="d-block wight-img center-img" src="./images/dekstop@1x/chocolete-2-dekstop@1x.webp" alt="chocolate-1">
        <div class="product-section__info-text d-none d-md-block">
          <h5 class="product-section__product-title">APPLE&CRANBERRY</h5>
          <p class="product-section__product-text">Milk chocolate</p>
          <button class="product-section__product-button">50 UAH</button>
        </div>
      </div>
      <div class="carousel-item active center-item" data-bs-interval="10000">
        <img class="d-block wight-img center-img" src="./images/dekstop@1x/chocolete-3-dekstop@1x.webp" alt="chocolate-1">
        <div class="product-section__info-text d-none d-md-block">
          <h5 class="product-section__product-title">lime&sea salt</h5>
          <p class="product-section__product-text">Dark chocolate</p>
          <button class="product-section__product-button">66 UAH</button>
        </div>
      </div>
      <div class="carousel-item active center-item" data-bs-interval="10000">
        <img class="d-block wight-img center-img" src="./images/dekstop@1x/chocolete-4-dekstop@1x.webp" alt="chocolate-1">
        <div class="product-section__info-text d-none d-md-block">
          <h5 class="product-section__product-title">pineapple</h5>
          <p class="product-section__product-text">Dark chocolate</p>
          <button class="product-section__product-button">54 UAH</button>
        </div>
      </div>
      <div class="carousel-item active center-item" data-bs-interval="10000">
        <img class="d-block wight-img center-img" src="./images/dekstop@1x/chocolete-5-dekstop@1x.webp" alt="chocolate-1">
        <div class="product-section__info-text d-none d-md-block">
          <h5 class="product-section__product-title">Classic</h5>
          <p class="product-section__product-text">Milk chocolate</p>
          <button class="product-section__product-button">45 UAH</button>
        </div>
      </div>
      <div class="carousel-item active center-item" data-bs-interval="10000">
        <img class="d-block wight-img center-img" src="./images/dekstop@1x/chocolete-6-dekstop@1x.webp" alt="chocolate-1">
        <div class="product-section__info-text d-none d-md-block">
          <h5 class="product-section__product-title">honey</h5>
          <p class="product-section__product-text">Milk chocolate</p>
          <button class="product-section__product-button">50 UAH</button>
        </div>
      </div>
      <div class="carousel-item active center-item" data-bs-interval="10000">
        <img class="d-block wight-img center-img" src="./images/dekstop@1x/chocolete-7-dekstop@1x.webp" alt="chocolate-1">
        <div class="product-section__info-text d-none d-md-block">
          <h5 class="product-section__product-title">Roasted fruits</h5>
          <p class="product-section__product-text">Dark chocolate</p>
          <button class="product-section__product-button">66 UAH</button>
        </div>
      </div>
      <div class="carousel-item active center-item" data-bs-interval="10000">
        <img class="d-block wight-img center-img" src="./images/dekstop@1x/chocolete-8-dekstop@1x.webp" alt="chocolate-1">
        <div class="product-section__info-text d-none d-md-block">
          <h5 class="product-section__product-title">Classic</h5>
          <p class="product-section__product-text">White chocolate</p>
          <button class="product-section__product-button">54 UAH</button>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleDark" type="button">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleDark" type="button">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>