<section class="product">
    <div class="container">
      <h2 class="product__title">
        tOp <span class="product__title-color"> Sellers</span>
      </h2>
      <div class="product__card">
        <ul class="product__list">
          <li class="product__item">
            <picture>
              <sourcec
                srcset="
                  ./images/dekstop@1x/products-img1-dekstop@1x.webp 1x,
                  ./images/dekstop@2x/products-img1-dekstop@2x.webp 2x
                "
                media="min-width: 1200px"
              />
              <source  
                srcset="
                  ./images/tablet@1x/products-img1-tablet@1x.webp 1x,
                  ./images/tablet@2x/products-img1-tablet@2x.webp 2x
                "
                media="max-width: 1199px"
              />
              <source
                srcset="
                  ./images/mobile@1x/products-img1-mobile@1x.webp 1x,
                  ./images/mobile@2x/products-img1-mobile@2x.webp 2x
                "
                media="max-width: 767px"
              />
              <img
                class="product__image"
                src="./images/mobile@1x/products-img1-mobile@1x.webp"
                alt="products"
              />
            </picture>
          </li>
          <li class="product__item">
            <picture>
              <source
                srcset="
                  ./images/dekstop@1x/products-img2-dekstop@1x.webp 1x,
                  ./images/dekstop@2x/products-img2-dekstop@2x.webp 2x
                "
                media="min-width: 1200px"
              />
              <source
                srcset="
                  ./images/tablet@1x/products-img2-tablet@1x.webp 1x,
                  ./images/tablet@2x/products-img2-tablet@2x.webp 2x
                "
                media="max-width: 1199px"
              />
              <source
                srcset="
                  ./images/mobile@1x/products-img2-mobile@1x.webp 1x,
                  ./images/mobile@2x/products-img2-mobile@2x.webp 2x
                "
                media="max-width: 767px"
              />
              <img
                class="product__image"
                src="./images/mobile@1x/products-img2-mobile@1x.webp"
                alt="products"
              />
            </picture>
          </li>
          <li class="product__item">
            <picture>
              <source
                srcset="
                  ./images/dekstop@1x/products-img3-dekstop@1x.webp 1x,
                  ./images/dekstop@2x/products-img3-dekstop@2x.webp 2x
                "
                media="min-width: 1200px"
              />
            </picture>
          </li>
        </ul>
      </div>
        <div class="product__componets">
        <p class="product__text">
          Crazy enough chocolate originates from a bean just like the coffee bean
          called Cacao. Cacao has been around for thousands of years and was first
          discovered by the Native American tribe called the Mayans.
        </p>
        <button class="product__btn">
          <span class="product__btn-text">Buy now</span>
        </button> 
      </div>
    </div>
  </section>