<section id="work" class="work">
  <div class="container">
      <p class="work__title">How It's <span class="work__title-color">Made</span></p>
      <div class="work__card">
          <picture>
              <source srcset=" ./images/dekstop@1x/video-dekstop@1x.webp 1x , ./images/dekstop@2x/video-dekstop@2x.webp 2x " media="(min-width: 1200px)">
              <source srcset="./images/tablet@1x/video-tablet@1x.webp 1x , ./images/tablet@2x/video-tablet@2x.webp 2x " media="(min-width: 768px)">
              <source srcset="./images/mobile@1x/video-mobile@1x.webp 1x , ./images/mobile@2x/video-mobile@2x.webp 2x " media="(max-width: 767px)">
              <img  class="work__image" src="./images/mobile@1x/video-mobile@1x.webp"  alt="video">
            </picture>
          <div class="work__info-div">
              <h2 class="work__info-title">
                  Try  our chocolates today and discover the perfect balance of flavor
              </h2>
              <div class="work__div-text">
                  <ul class="work__info-list">
                  <li class="work__info-item">
                      <p class="work__info-text">
                          Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.
                      </p>
                  </li>
                  <li class="work__info-item">
                      <p class="work__info-text">
                          At the same time, prepare a water bath. Melt the butter on it.
                      </p>
                  </li>
                  <li class="work__info-item">
                      <p class="work__info-text">
                          "Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes uniform and silky.
                      </p>
                  </li>
                  <li class="work__info-item">
                      <p class="work__info-text">
                          Heat the mixture over low heat, letting it barely boil.
                      </p>
                  </li>
                  <li class="work__info-item">
                      <p class="work__info-text">
                          Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.
                      </p>
                  </li>
              </ul>
              </div>
          </div>
  </div>
  </section>