<!-- 1 -->
<section class="work-section">
    <h2 class="work-section__titel">
        <span class="work-section__span">
            chocolate
        </span>
        is loved
    </h2>
    <ul class="work-section__list">
        <li class="work-section__item">
            <img class="work-section__img" src="./images/dekstop@1x/worker-1-dekstop@1x.webp" alt="worker-1">
            <h2 class="work-section__name">
                Victoria Dobrzhanska
            </h2>
            <p class="work-section__text">
                I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.
            </p>
        </li>
        <li class="work-section__item none">
            <img class="work-section__img" src="./images/dekstop@1x/worker-2-dekstop@1x.webp" alt="worker-2">
            <h2 class="work-section__name">
                Nazar Babenko
            </h2>
            <p class="work-section__text">
                This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is
                smooth, and the chocolate is good.
            </p>
        </li>
        <li class="work-section__item none none-2">
            <img class="work-section__img" src="./images/dekstop@1x/worker-3-dekstop@1x.webp" alt="worker-3">
            <h2 class="work-section__name">
                Olena Kampusch
            </h2>
            <p class="work-section__text">
                Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside.
                The wafer is soft but crunchy.
            </p>
        </li>
    </ul>
    <div class="work-section__flex-div">
        <div class="work-section__div active-div"></div>
        <div class="work-section__div"></div>
        <div class="work-section__div"></div>
        <div class="work-section__div"></div>
    </div>
    <button class="work-section__button" data-open-modal>
        Leave a review
    </button>

    <!-- modal -->

    <div class="backdrop is-hidden" data-backdrop>
        <div class="work-section__modal">
            <h2 class="work-section__modal-title">
                LEAVE A REVIEW ABOUT
                <span class="work-section__modal-span">
                    OUR CHOCOLATE
                </span>
            </h2>
            <button class="work-section__button-close data-close-modal">
                <svg class="work-section__close-icon">
                    <use href="./images/symbol-defs.svg#icon-close-icon"></use>

                    
                </svg>
            </button>
            <form class="work-section__form">
                <input class="work-section__input" type="text" placeholder="Name">
                <input class="work-section__input" type="text" placeholder="Email">
                <div class="work-section__tel-div">
                    <img class="flag-Ukrain" src="./images/dekstop@1x/flag-Ukrain-dekstop@1x.webp" alt="flag-Ukrain">
                    <label class="work-section__label" for>+380</label>
                </div>
                <input class="work-section__input tel-input" type="text" placeholder="Phone number">
                <textarea class="work-section__textarea" id name cols="30" rows="10" placeholder="Enter text"></textarea>
                <button class="work-section__send-button" data-open-modal2>Send</button>
            </form>
        </div>
    </div>

    <!-- modal-2 -->

    <div class="backdrop-2 is-hidden2" backdrop2>
        <div class="modal-2">
            <button class="modal-2__button" data-close-modal2>
                <svg class="modal-2__icon">
                <use href="./images/symbol-defs.svg#icon-close-icon">

                </use>  
            </svg>
            </button>
            <h2 class="modal-2__titel">
                thank you 
                for your feedback!
            </h2>
            <p class="modal-2__text">
                We are so happy to hear from you!
            </p>
            <img class="modal-2__img" src="./images/dekstop@1x/modal-img-dekstop@1x.webp" alt="modal-img">
        </div>
    </div>

</section>